[2020-11-24 10:45] sandanat opened #4 "OffsetParent is not set error"
#### Configuration:
- Web browser and it`s version: any
- Operating system and it`s version: any
- vue-pdf-app version: 0.2.2

#### Steps to reproduce the problem:
1. Create SPA app
1. Open page with vue-pdf-app
1. Navigate to another page
1. Use Ctrl + mouse wheel to change page size

#### What is the expected behavior?
A size of the page is changed.

#### What went wrong?
A size of the page is n

[2020-11-25 09:06] #4 closed

[2020-12-16 17:10] SkuljAnze opened #7 "Changing page title."
Does anyone have any ideas on how to stop vue-pdf-app from changing the page title?

[2020-12-17 13:24] sandanat commented on #7
I'm not sure it's a bug. That is a default behaviour of pdfjs and someone could find this useful. You can reassign page title via open listener
[code]
However a flash occurs during reassign `original title => pdf title => original title`
See [example](https://github.com/sandanat/vue-pdf-app/blob/master/examples/pdfjs-interaction/src/App.vue#L35)

[2020-12-17 16:21] #7 closed

[2021-02-03 08:31] softboy99 opened #8 "Please add es6 module expoxt support"
Please add es6 module expoxt support

[2021-02-03 08:36] sandanat commented on #8
This will break old browsers support. Please, provide a demo with your issue, I'll check it

[2021-02-03 08:59] softboy99 commented on #8
you can use .mjs for es6 and .js for old in your package

[2021-02-03 10:38] softboy99 opened #9 "Is it possible to add custom button to the panel and do some logic by programmer's code?"
Is it possible to add custom button to the panel and do some logic by programmer's code?

[2021-02-03 12:05] sandanat commented on #9
No in current version, will be added in next version

[2021-02-04 08:15] softboy99 opened #10 "error with vite"
inherits.js:4 Uncaught TypeError: Super expression must either be null or a function
    at _inherits (inherits.js:4)
    at pdf-viewer.vue?c8a8:912
    at Module.fb15 (pdf-viewer.vue?c8a8:912)
    at __webpack_require__ (bootstrap:19)
    at 0 (bootstrap:83)
    at bootstrap:83
    at webpackUniversalModuleDefinition (universalModuleDefinition:3)
    at universalModuleDefinition:9
    at chunk.2V

[2021-02-04 09:41] sandanat commented on #10
Provide a demo with steps to reproduce please

[2021-02-04 10:15] softboy99 commented on #10
step to reproduce:
1、npm init @vitejs/app my-vue-app -- --template vue
2、add the basic sample code in readme.md to app.vue:

<template>
  <pdf-viewer pdf="http://example.com/sample.pdf"></pdf-viewer>
</template>

<script>
import PdfViewer from "vue-pdf-app";

export default {
  components: {
    PdfViewer
  }
}
</script>

3、run

[2021-02-04 10:17] softboy99 commented on #10
I guess the problem would be your code is based on vue2. It failed in vue3 for the "extend Vue"

[2021-02-17 18:35] Alexxk1982 opened #11 "Global styles manipulate styles of website"
Hi, the global styles e.g. in viewer.css are changing styles of other vue elements outside of your component. (*, html, body, input, button, select,.. which are defined in your viewer.css) Please restrict them to your own container.. e.g. with a custom class on your main container?! Or you could use a shadow dom? Thanks! :)

[2021-02-18 08:09] Alexxk1982 commented on #11
Sorry the global styles are from pdfjs viewer 😏

[2021-02-25 07:54] armie-isla commented on #11
Do you have any workaround for this issue or can you recommend other libraries?

[2021-02-25 08:00] sandanat commented on #11
I will fix it this weekend

Other libraries: https://github.com/vuejs/awesome-vue#pdf

 

 
 
-----------------------------------------------
С уважением, Андрей Сергеев
e-mail: adid62@mail.ru
 

[2021-02-25 11:45] aislaapps commented on #11
Thank you

[2021-03-02 11:52] #11 closed

[2021-03-10 11:31] jan-kacina opened #14 "PDF not displayed when <pdf-app> is placed under a <div> element"
Hi @sandanat ,
I've spent a lot of hours to determine, what's the reason of not displaying PDF viewer in my Vue app. If you have any workaround for thiss issue, please provide.

**Configuration:**

- Web browser and it`s version: Firefox 86, Chrome 89
- Operating system and it`s version: Windows 10
- vue-pdf-app version: 1.0.1

**Steps to reproduce the problem:**

1. Use [Typescript Example](https

[2021-03-10 11:38] sandanat commented on #14
Hi, you have to specify a height of your div-wrapper:

![image](https://user-images.githubusercontent.com/49751869/110623681-3b0e0800-81ae-11eb-9c76-d02cac2ca3bd.png)

[2021-03-10 13:06] jan-kacina commented on #14
Not very nice, but functional workaround. In general, it requires to add `style="height: 100%;"` to all `<div>` predecessors.
In my case it's 4-level hierarchy, incl. Vuetify's `<v-tab-items>` and `<v-tab-item>`.

Do you know what's the main reason for such behavior? Is it related to Mozilla's PDFJS or to your implementation?

Thanks a lot.

[2021-03-11 08:51] sandanat commented on #14
It is not necessary to specify height of every predecessor. If you know the desired height of pdf you can specify it directly like this:
[code]

[Example](https://codepen.io/sandanat/pen/xxVdgYM)
This is my implementation. The reason is that a size of the pdf must be controlled in parent. Otherwise scrollbar can appear for example, as in the provided example.

You can provide your solution. I will

[2021-03-13 13:12] jan-kacina commented on #14
I consider this as solved - suggestion with `style="height: 100vh;"` works well.

Thanks for explanation.

[2021-03-13 13:12] #14 closed

[2021-03-15 06:36] rutup opened #15 "Moving code for PDF related stuff in another component is not working"
#### Configuration:
- Chrome :89.0.4389.82
- Windows 10
- "vue-pdf-app": "^1.0.1",

#### Steps to reproduce the problem:
Download the code from Git hub and try to run typescript app. it works fine now create component folder under src and then create helloworld .vue file there move all pdf related code to this file from app.vue as below

[code]
it gives error Invalid
[code]
#### What is the expect

[2021-03-15 06:50] rutup commented on #15
It started working when i changed path from
[code]
to
[code]

[2021-03-15 06:50] #15 closed

[2021-03-15 11:01] rutup opened #16 "Opening pdf in modal dialogue giving error"
Hi I need help on following. Not sure if it is bug or there is correction needed in my code.

I am opening dialog and inside that trying to show pdf as shown in **PDFJS interaction  example**. It returns error
as follow

![image](https://user-images.githubusercontent.com/5991399/111142992-506aa400-85ab-11eb-86d6-d5c97ce4270d.png)

Url of pdf is being set at runtime on mounted function of dialog. D

[2021-03-15 14:26] sandanat commented on #16
Hi!
Can you provide a repo with this issue or full code of your component? It works fine with primevue dialog ([example](https://codesandbox.io/s/vue-pdf-app-in-dialog-9u8d3?file=/src/App.vue))
Does the error occur during the first dialog opening?
Does it a dialog or a detail tag?

Try something listed below:
1. Remove all props from pdf just to see if it works fine
2. Use `v-if` for pdf linked to

[2021-03-16 08:49] rutup commented on #16
console error stopped logging once i wrote
[code]
also wanted to check does this component support IE 11 ? as there is no documentation around it. It just mentions cross browser support

[2021-03-16 08:56] sandanat commented on #16
Yes, IE11 is supported

[2021-03-16 09:06] #16 closed

[2021-03-16 09:16] rutup opened #17 "Is there any way we can set zoom level to page width as default"
Is there any way we can set zoom level to page width as default config settings doesn't have option for it

[2021-03-16 09:57] sandanat commented on #7
There is another solution:
[code]

[2021-03-16 10:22] sandanat commented on #17
[code]

[2021-03-16 13:19] rutup commented on #17
is there any way i can set current scale to page-width  by option e.g.
[code]
 here currentScale is enum value like that or set to value of dropdown shown in UI

[2021-03-16 13:33] sandanat commented on #17
Hypothetical component:
[code]

This functionality is already included in package.
Don`t understand the purpose of implementing it outside the package.

[2021-03-16 14:12] sandanat commented on #17
Still don't understand what is needed. You can hardcode scale with this values as described in comment above

[code]

[2021-03-17 05:02] rutup commented on #17
using this code
[code]
gives error
[code]

[2021-03-17 05:27] sandanat commented on #17
Sorry, use `currentScaleValue` instead of `currentScale`

[2021-03-17 10:49] rutup commented on #17
This solves problem thanks

[2021-03-17 10:49] #17 closed

[2021-03-18 09:34] sirmadboy opened #19 "Cannot load two pdf on same page"
Hi I try to use this to render my pdf. On first page it's works beautifully, but when I try to add more pdf viewer, the second viewer not working, only show blank.

[2021-03-18 10:16] sandanat commented on #19
Hi!
Unfortunately it is impossible to use two instances of pdf viewer. The package repeats the structure of Mozilla's pdf viewer and internally it uses elements ids to implement functionality. That means that only the first pdf viewer can be operable

![image](https://user-images.githubusercontent.com/49751869/111609380-47681580-87eb-11eb-8289-8f13fb094eab.png)

You can check other libraries [here

[2021-03-23 07:07] sandanat commented on #19
@sirmadboy , do you have any other questions? Otherwise close the issue, please.

[2021-03-23 08:24] rutup opened #22 "Call openhandler function programmatically"
I am fetching pdf from API then saving it on some path.
based on API result I need to load PDF i.e. dynamically. I tried setting file name at run time and this is changing page title.
I know page title can be changed in **OpenHandler** function. But not sure how to  call it programmatically. If there is workaround for it Let me know

[2021-03-23 08:32] sandanat commented on #22
Hi, refer this [example](https://github.com/sandanat/vue-pdf-app/blob/master/examples/pdfjs-interaction/src/App.vue#L35).
This also can be done in a more convenient way with [future release ](https://github.com/sandanat/vue-pdf-app/tree/develop#after-createdpdfviewerapplication)

[2021-03-23 08:51] rutup commented on #22
thanks this sample gave me idea to hold the title and fix the current issue. Also just to let you know there seems to be issue related to page title. Placing scenario below.
set PDF URL after API call and then **openhandler** gets called it tries to set page title at that time again and it is not document name. it is something else

[2021-03-23 08:51] #22 closed

[2021-03-23 11:47] iglimanaj opened #23 "Jump to page"
Hello,

I was wondering if there is any possibility to jump to a specific page of the pdf. Is there any property for setting the page?

Thanks!

[2021-03-23 13:19] rutup opened #24 "is there any way to stop editing page title by default"
is there any way to stop editing page title  by default.  It can be changed by **openhandler** but any setting which **disable** default page title set shall be helpful. as changing it in **openhandler** creates flicker and also for fraction of second it shows default name.

I tried ` PDFViewerApplication.setTitle(this.pageTitle);
        PDFViewerApplication.isViewerEmbedded = true;` but it doesn

[2021-03-23 13:57] sandanat commented on #23
Hi
[code]
[code]

[2021-03-23 14:02] iglimanaj commented on #23
Thanks for the quick response! It seems to work :D

[2021-03-23 14:11] sandanat commented on #24
`isViewerEmbedded` will help in future release [v2.0.0](https://github.com/sandanat/vue-pdf-app/milestone/1) (coming in a few weeks) like shown in this [sample](https://github.com/sandanat/vue-pdf-app/blob/develop/examples/the-most-complete-example/src/views/PdfjsInteraction.vue#L34).
And a flicker doesn't occur in it.

[2021-03-24 15:44] iglimanaj commented on #23
Hi the open event is being invoked during the initial opening of the pdf. Is it possible to interact with an already opened pdf? I would be interested if one can jump from one page to another after the pdf document is opened.

[2021-03-24 20:05] sandanat commented on #23
Hi!
Why don't you use a default toolbar functionality? Feedback is wellcome, it helps me to improve the package.
You can do this:
[code]

Also refer this note about [reactivity](https://github.com/sandanat/vue-pdf-app/blob/develop/FAQ.md#can-i-interract-with-mozillas-pdfjs-library-outside-the-event-handlers-of-pdf-viewer)

[2021-03-25 22:19] iglimanaj opened #29 "Feature Proposal"
Hi,
I am using the pdf viewer as an integrated component in a web app and I have noticed that the tab name is automatically updated to the title of the pdf file when it is rendered by the pdf-viewer-app component.

How about a config to disable this automatic update?

Best regards!
Igli

[2021-03-25 22:32] iglimanaj commented on #29
redundant proposal,  #24 :D

[2021-03-26 06:37] sandanat commented on #29
Hi!
Ok, I will disable title rename by default as too many requests about that.
Await v2.0

[2021-03-26 09:04] sandanat commented on #29
Done in v2.0

[2021-03-26 09:04] #29 closed

[2021-03-26 09:04] sandanat commented on #24
Done in v2.0

[2021-03-26 09:04] #24 closed

[2021-03-26 09:04] sandanat commented on #9
Done in v2.0

[2021-03-26 09:04] #9 closed

[2021-03-26 11:53] sandanat commented on #10
Yes, current package has incomitible code with Vue 3.
I am going to implement several features for this package and after that I try to create pdf viewer for Vue 3.
I hope it happens this summer.

[2021-03-26 11:53] #10 closed

[2021-03-26 13:06] iglimanaj opened #33 "Buttons not visible"
Hi Andrey,

I switched to the latest version and noticed that the buttons are not visible any more. They are still there and function if I click on them, but they are not visible. Here you can find a screenshot.

If you have any idea, where the problem might be, I could also contribute on fixing.

![image](https://user-images.githubusercontent.com/12574741/112635626-54fd4b00-8e3c-11eb-8c15-bf87cd5

[2021-03-26 13:21] sandanat commented on #33
Hi! You have to `import "vue-pdf-app/dist/icons/main.css";`
For breaking changes refer [CHANGELOG.md](https://github.com/sandanat/vue-pdf-app/blob/master/CHANGELOG.md)

[2021-03-26 13:30] iglimanaj commented on #33
Thanks! You are doing a great work btw!

[2021-03-26 20:05] sandanat commented on #33
Thank you!

[2021-03-28 09:51] #33 closed

[2021-03-31 12:07] sandanat opened #35 "Customizable toolbar UI"
**Please describe a feature/problem.**
It will be great to have an ability to build completely custom UI for toolbar.
This allows to change order of the toolbar buttons, expand the toolbar behaviour (hide on scroll for instance), etc.

**Describe the solution you'd like**
There can be two solutions:
1. Use scoped slots with props:
[code]
1. Pass buttons IDs into vue-pdf-app and bind functionality

[2021-03-31 17:30] 949mac opened #36 "What's the best way to call the `pages-rendered` event one the browser window is resized?"
Basically, I've dropped an overlay image on my pdf. It's placed nicely relative, and to scale. But when I resize, my overlay disappears.

If I refresh my app, the overlay returns and remains in the proper position.

I feel like a  resize event passing the `PDFViewerApplication` would solve this, unless I'm missing another way.

Great package, btw. 👍

[2021-04-03 21:35] sandanat commented on #36
Hi!
Thank you for your praise!
Sorry, but I didn't understand an essence of the problem clearly. This would be great if you provide a working example with your issue.

`pages-rendered` event is emitted when `PDFViewerApplication.pdfViewer.pagesPromise` is fulfilled. And this promise doesn't change it's state during window resize event. So it has no sense in your case.

If you just want to pass `PD

[2021-04-06 14:20] 283po1 opened #37 "I want to change the language."
The technology set is es5(js), vue2

English is the default language for panel. Use <link rel="resource" type="application/l10n" href="path-to-localization-file"> in your html for localization. See localization file examples.

The above doesn't make sense.

Create locale.ts for 'ko' by referring to the contents of 'ko' of the address(https://github.com/mozilla/pdf.js/tree/master/l10n ) and in inde

[2021-04-06 20:50] sandanat commented on #37
Hi!
1. Take a desired locale [from here](https://github.com/mozilla/pdf.js/blob/master/l10n/ko/viewer.properties)
2. Copy paste it into a file in your project (*locale.txt* for instance)
3. Add `<link rel="resource" type="application/l10n" href="path-to-the-locale.txt" />` into your html

Example [is here](https://codesandbox.io/s/vue-pdf-app-9u8d3?file=/public/index.html:269-334)

![image](https:

[2021-04-07 20:35] mokshinpv opened #38 "I want set 'viewOnLoad' property of PDF.JS"
Hi!

I'm new to PDF.JS so maybe it's a very simple thing but I can't find how to do it.
I hope someone will can help me.

1) I'm placing <vue-pdf-app> component inside BootstrapVue modal component.
During each modal opening it's content is re-rendered.
So I expect that every time PDF will be loaded from first page and scroll position will be on top of PDF.
But exactly it remembers scroll position

[2021-04-11 01:42] ManasMadrecha opened #39 "Nuxt support?"
**Please describe a feature/problem.**
To be able to use on Nuxt

**Describe the solution you'd like**
An example on `readme` file how to use it on Nuxt

[2021-04-11 03:43] ManasMadrecha commented on #39
## What I tried (and didn't work) in Nuxt app.
My PDF file is saved in `static` folder, so it's accessible as `/book.pdf`.

### Trial 1
Created a `vue-pdf-app.js` under plugins folder.
[code]
Then, I registered it in `nuxt-config.js` as:
[code]

Then, used it in normal `pages` folder inside `<template></template>`.
[code]

This should have worked as it usually works for any vue-plugin, but it didn

[2021-04-11 23:09] iglimanaj opened #40 "Initial zoom value"
By default the initially chosen zoom option is `Automatic Zoom` (https://github.com/sandanat/vue-pdf-app/blob/master/src/components/pdf-viewer.vue#L648)

Is there any way to set another default value instead?

[2021-04-12 11:28] sandanat commented on #40
Hi!

See example in [FAQ](https://github.com/sandanat/vue-pdf-app/blob/master/FAQ.md#can-i-set-a-default-page-scale-when-a-pdf-document-is-opening)

I will implement this feature in the next release as too many requests about it

[2021-04-14 04:37] 283po1 opened #41 "Korean text recognition problem"
PDFs in Korean text cannot be recognized. Is it possible to support it?

If not, where should I add the font?
![20210414_123941](https://user-images.githubusercontent.com/41983926/114663474-592ed100-9d35-11eb-82b5-21dd9ff4466e.png)

[2021-04-16 06:03] rutup opened #42 "Setting pdf at run time"
Hi
In my case pdf is being returned as blob from API. So PDF needs to be generated dynamically. How can this be achieved?

[2021-04-16 20:43] sandanat commented on #41
Hi!
If you don't need a text layer (text selection with cursor) try to disable it in `v-on:open` handler:
[code]

If it doesn't work or if you need a text layer try to download font:
[code]

If it doesn't work provide a working example with this issue please

[2021-04-16 21:01] sandanat commented on #42
Hi!
You have to convert blob into arrayBuffer
1. Change response type of your request to `arraybuffer` if it is possible
2. Or
[code]

[2021-04-19 04:34] rutup commented on #42
Thanks I am also facing one more issue when I download the PDF it gives its name as document.pdf. Is there any way I can download it by its name.

[2021-04-19 05:01] rutup commented on #42
I tried using
[code]
but the file name in download is document.pdf while in server side file name is **test.pdf**

[2021-04-19 05:16] sandanat commented on #42
[code]

Details are [here](https://github.com/sandanat/vue-pdf-app/pull/34)

[2021-04-19 06:21] rutup commented on #42
Thanks
It works perfect. Just to mention not sure if this is right place in same issue should I write it or not. I am getting following message in browser
[code]

[2021-04-19 06:59] sandanat commented on #42
It is not an error. It is mozilla's [log message](https://github.com/sandanat/vue-pdf-app/blob/master/src/pdfjs-dist/lib/web/app.js#L1011)

[2021-04-19 09:29] rutup commented on #42
Yes it is not an error but it is annoying if any one opens dev tools so , Is there any way that I can stop showing it on console

[2021-04-19 16:48] andynhoo opened #43 "How change filename?"
<vue-pdf-app :pdf="arquivo" theme="dark" @open="openHandler" :config="config" downloadFileName="test" ></vue-pdf-app>

downloadFileName="test"

not working

[2021-04-19 16:50] #43 closed

[2021-04-20 12:09] sandanat commented on #42
Ok, I will fix it

[2021-04-21 06:59] irzafaikar opened #44 "PDF Blank"
#### Configuration:
- Google Chrome 88.0.4324.150
- Ubuntu 20.10
- vue-pdf-app latest version

#### Steps to reproduce the problem:
Only follow the example in github.

#### What is the expected behavior?
PDF will show in the browser.

#### What went wrong?
PDF not showing. But its load in network tab.

#### Attachments (screenshots, links, etc)
![Screenshot from 2021-04-21 13-56-23](https://user-i

[2021-04-21 19:42] irzafaikar commented on #44
I'm sorry, this is css issue. I set the style to this one.
![Screenshot-20210422024131-256x126](https://user-images.githubusercontent.com/54936003/115611535-668b2300-a314-11eb-9fb3-a6c1c40c9cf2.png)

[2021-04-21 19:42] #44 closed

[2021-04-22 07:08] sandanat commented on #44
Hi @irzafaikar !
Yes, your solution works fine.
However a package already has a [height 100%](https://github.com/sandanat/vue-pdf-app/blob/master/src/sass/viewer.scss#L25)
So it is better to specify a height of parent container
[code]

Or specify a height directly
[code]

Explanation is in this [discussion](https://github.com/sandanat/vue-pdf-app/issues/14)

[2021-04-22 11:23] rutup commented on #42
Thanks waiting for disabling this logging for now closing issue

[2021-04-27 15:14] stingwear opened #45 "No pdf loaded when using locale file"
#### Configuration:
- Web browser and it`s version:
- Operating system and it`s version:
- vue-pdf-app version: 2.0.0

#### Steps to reproduce the problem:

1. Include link to locale file (different than English) in head
2. Create two buttons that loads different pdf files in the same vue using a data variable to store the pdf path
3. Initially the first PDF loads correctly but when we press the s

[2021-04-27 20:43] sandanat commented on #45
Hi!
I've tried to reproduce the issue [here](https://github.com/sandanat/vue-pdf-app/tree/bug/task-45/examples/the-most-complete-example/public). Everything works fine.
So provide a working example with your issue. I'll check it out

[2021-04-28 10:47] stingwear commented on #45
Hi @sandanat

I've changed a little bit your example to try to reproduce the bug.

First of all, I've included a loading var, because in our system, the pdf url is received in a request, then to simulate the request, I add a time interval in the vue:

`<template>
  <div style="height: 80vh;">
    <button @click="changePdf('sample.pdf')" type="button">First pdf</button>
    <button @click="changePd

[2021-04-29 10:35] stingwear commented on #45
Hi again @sandanat

Is it possible that the problem with the load of the different pdf's with locale files will be that the pdf sources are  in base64 format?

Regards

[2021-05-02 08:14] suadik opened #46 "Does not support vue3"
**Please describe a feature/problem.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-05-03 00:01] irzafaikar commented on #42
I'm sorry. I get this error.

[Vue warn]: Error in v-on handler: "TypeError: Cannot read property 'pdfDocument' of undefined"

When i do this..
console.log(pdfApp.PDFViewerApplication);

return value is undefined

[2021-05-04 10:16] sandanat commented on #46
Hi!
Yes there is a plan to support Vue 3. Coming this summer

[2021-05-04 10:17] sandanat commented on #45
I don't think so

[2021-05-04 10:22] sandanat commented on #42
Yes, `pdfApp.PDFViewerApplication` can be null in some cases. So you have to check `if (pdfApp.PDFViewerApplication) {...}` before operate it. Or use `pages-rendered` event. *pdfApp.PDFViewerApplication* has to be always defined during this event

[2021-05-05 11:29] tanshuai opened #47 "PDF document does NOT display by upgraded pdfjs-dist to the latest version 2.7.570"
I failed to upgrade pdfjs-dist to the latest version to use new features.

#### Configuration:
- Web browser and it`s version: Google Chrome, Version 90.0.4430.93 (Official Build) (x86_64)
- Operating system and it`s version: macOS Catalina, Version 10.15.7 (19H524)
- vue-pdf-app version: 2.0.0

#### Steps to reproduce the problem:

1. Download the latest stable release of pdfjs-dist from: https:/

[2021-05-07 01:25] This420 opened #48 "The loading bar (progress bar) is displayed only for the first time"
#### Configuration:
- Web browser and it`s version: All
- Operating system and it`s version: All
- vue-pdf-app version: 2.0.0

#### Steps to reproduce the problem:
- First, display the pdf in the normal procedure. (At this time, the loading bar is displayed)
- When I go to another page and view the PDF again, the loading bar does not appear. (I'm viewing the PDF in a dialog)

#### What is the expe

[2021-05-11 06:33] henrik-peszlen commented on #45
First of all, thanks for a great plugin!

I just want to add that I have the exact same problem, using PdfViewer in different tabs and when I'm using locales it only loads the first time. After that I get warnings and the pdf is not rendered.

![image](https://user-images.githubusercontent.com/84004462/117769014-74f19e00-b233-11eb-9de5-e314c3f93f51.png)

All works fine if I remove the locale file.

[2021-05-12 20:40] sandanat commented on #23
@iglimanaj, do you have any other questions? Can I close the issue?

[2021-05-12 20:41] sandanat commented on #36
@949mac, do you have any other questions? Can I close the issue?

[2021-05-12 20:41] sandanat commented on #37
@283po1, do you have any other questions? Can I close the issue?

[2021-05-12 20:42] sandanat commented on #41
@283po1, do you have any other questions? Can I close the issue?

[2021-05-12 20:56] sandanat commented on #47
Hi!
Unfortunately it is impossible just to replace `src/pdfjs-dist` with the new version of pdfjs. I had to edit source code of pdfjs to make it work with SPA (otherwise Pdfjs would be included as a dependensy in a package.json).

I also don't have plans to update pdfjs-dist because as mentioned in [v2.7 release notes](https://github.com/mozilla/pdf.js/releases) Mozilla has dropped support for IE1

[2021-05-12 20:57] #47 closed

[2021-05-12 20:58] sandanat commented on #48
Please provide a working example

[2021-05-12 21:42] sandanat commented on #45
Sorry for the long wait.

@stingwear, I reproduced your code - everything still works fine. I've tried with IE11, Edge, Firefox, Chrome, network and CPU slowdown - everything is fine. Which browser and OS do you have? Take an example from [this branch](https://github.com/sandanat/vue-pdf-app/blob/bug/task-45/examples/the-most-complete-example/src/views/Basic.vue) and try to check if it works. Plea

[2021-05-13 11:20] #23 closed

[2021-05-17 07:39] henrik-peszlen commented on #45
@sandanat Thanks for your reply, I was able to get it to work when I was making a bare minimum example, some other component or package is probably the culprit in my case. I will investigate some on my end. Thanks.

[2021-05-17 07:47] henrik-peszlen commented on #45
I think I found the problem, when I pre-fetch the PDF and pass it in as an arrayBuffer the locale don't work (the second time) but if I pass the file path it works as expected. Maybe this can be of help to someone else.

[2021-05-17 21:09] sandanat commented on #45
@henrik-peszlen, locale does not depend on the way pdf is loaded. No errors must occur if locale `link` tag is static (i.e. placed under `head` tag) or is binded to an html document before vue-pdf-app. So reproduce example is needed for further investigation.
Regards!

[2021-05-19 01:45] This420 commented on #48
@sandanat
Thank you for your reply.

I found the same issue in the pdf.js repository.

https://github.com/mozilla/pdf.js/issues/3090

Is this solution applicable to vue-pdf-app?
Please let me know if you know the solution.

[2021-05-19 20:52] sandanat commented on #48
Yes, I think it can help.

[2021-05-24 19:46] fabricepallaud commented on #39
@ManasMadrecha did you manage to make it work with Nuxt eventually?

[2021-05-25 02:40] ManasMadrecha commented on #39
@fabricepallaud
Yes, I was able to do it with some of the above method. I think it was method 2, i.e. install as global plugin with `window.onNuxtReady` and register it as `ssr: false` in `nuxtconfig.js`. And I think this error `TypeError: Cannot read property 'currentPageNumber' of null` was due to the component unable to find the book. As soon as I entered the correct file path of a file stored

[2021-05-25 05:55] sandanat commented on #39
Hi! I'll try to implement it in 3 weeks. It was a hard spring, sorry

[2021-05-25 12:10] ManasMadrecha commented on #39
@sandanat Thanks, and it would be great if you could also add docs on how to load it dynamically in Nuxt. 😊 Loved the viewer btw.

[2021-05-31 21:35] sandanat commented on #42
feef52f8c2fa4a94263ab1837200d9a701f3b90e

[2021-05-31 22:05] #35 closed

[2021-05-31 22:05] #42 closed

[2021-06-02 21:57] #40 closed

[2021-06-03 18:03] ferretwithaberet opened #51 "Printing does not fit PDF to page"
#### Configuration:
- Web browser and it`s version: Brave Version 1.25.68 Chromium: 91.0.4472.77 (Official Build) (64-bit)
- Operating system and it`s version: EndeavourOS Linux x86_64 Kernel 5.10.41-1-lts
- vue-pdf-app version: 2.0.0

#### Steps to reproduce the problem:
Not sure what causes it, I just got vue-pdf-app inside of a modal from Ant Design Vue. Might be related to [this StackOverflow

[2021-06-05 17:59] sandanat commented on #51
Hi!
Provide a pdf file please.
Is it fine when you download it?
Can you try in another browser?

[2021-06-05 18:05] ferretwithaberet commented on #51
Yes, it also looks normal in the viewer. Only while printing it looks odd.

**Example print saved with cups-pdf:**
[cups-pdf-job_4.pdf](https://github.com/sandanat/vue-pdf-app/files/6602995/cups-pdf-job_4.pdf)

Same with firefox.
![image](https://user-images.githubusercontent.com/46427158/120901109-78652300-c641-11eb-9568-9638566bfeb0.png)

This is the pdf file from the screenshot above.
[Get_Star

[2021-06-05 18:13] ferretwithaberet commented on #51
Not sure if this helps, but it seems to be ~.5 times smaller, because scaling it to 150% almost fits it perfectly into the page.

![image](https://user-images.githubusercontent.com/46427158/120901332-d21a1d00-c642-11eb-933e-3450ca155c25.png)

[2021-06-05 18:27] sandanat commented on #51
Works fine in chrome, brave, firefox, IE on windows. Will check for linux.
Can you provide source code?

[2021-06-05 18:28] ferretwithaberet commented on #51
I cannot really, it is part of a work project. I am trying to recreate the issue in a codepen, if I can replicate it I will come here with a link to it.

[2021-06-05 18:29] sandanat commented on #51
Thanks!

[2021-06-05 18:39] #38 closed

[2021-06-05 19:48] #48 closed

[2021-06-05 19:49] #37 closed

[2021-06-05 19:49] #36 closed

[2021-06-05 19:50] #41 closed

[2021-06-05 19:52] sandanat commented on #45
@henrik-peszlen, @stingwear, were you able to fix problems? Can I close the issue?

[2021-06-06 20:18] adam-javelin commented on #19
This really should be fixed.. All you would need to do is allow someone to add a prefix to all ids.

[2021-06-07 05:52] henrik-peszlen commented on #45
@sandanat My issue is resolved, thanks.

[2021-06-07 23:30] ferretwithaberet commented on #51
I failed to reproduce it, I will try again when I have some free time, not sure when that will happen though.

[2021-06-11 15:39] reibanaag opened #56 "Is this available for Vue 3?"
I just wonder if there are any plan to support vue 3?

[2021-06-12 20:22] dmitriy-pisarevskiy opened #57 "removePageBorders pass option"
Hi! How I can pass "true" value to removePageBorders ? or how to set hPadding  and vPaddin to 0?
on this depended calculation:
          widthScale = (this.container.clientWidth - hPadding) / width / _ui_utils.CSS_UNITS;
          heightScale = (this.container.clientHeight - vPadding) / height / _ui_utils.CSS_UNITS;

Version 2.1.0

[2021-06-14 04:14] dmitriy-pisarevskiy commented on #57
so, maybe closed, because I already forked this solution. Thanks you, very useful.

[2021-06-14 20:53] sandanat commented on #56
Hi!
Yes. It will be a new package at the end of July

[2021-06-14 20:54] sandanat commented on #56
Duplicates #46

[2021-06-14 20:54] #56 closed

[2021-06-17 07:24] sandanat commented on #57
Thanks!

[2021-06-17 07:24] #57 closed

[2021-06-18 04:08] wongself opened #58 "Search results positioning problem when searching in findbar"
#### Configuration:
- Web browser and it`s version: Microsoft Edge 91.0.864.48 & Firefox 89.0.1
- Operating system and it`s version: Windows 10 21H1
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem
In the official [demo](https://codesandbox.io/s/vue-2-vue-pdf-app-wz5kv), when you search in the findbar, the results are always positioned in the top row of the page, not in the middle

[2021-06-20 19:56] sandanat commented on #58
Hi!
This is a pdfjs problem. I submitted an [issue to the pdfjs](https://github.com/mozilla/pdf.js/issues/13596).
However even if they fix it I will not upgrade pdfjs version for this package as it will break IE11 support (discussion is [here](#47)).
New version of the pdfjs will be included for a package for Vue 3.

[2021-07-02 08:29] #58 closed

[2021-07-02 09:33] sandanat commented on #39
My PDF file is saved in static folder, so it's accessible as /book.pdf.
Trial 1
Created a vue-pdf-app.js under plugins folder.

@ManasMadrecha, your **Trial 1** works fine. Pdf is invisible in your case because of parent container height is not specified.
Refer [example](https://github.com/sandanat/vue-pdf-app/tree/develop/examples/nuxt)

[2021-07-02 09:34] sandanat commented on #39
PR #61

[2021-07-02 09:36] #39 closed

[2021-07-02 09:37] #45 closed

[2021-07-02 19:55] EspetoRx opened #62 "I can't print the full page when VuePdfComponent is mounted! (Maybe related with PDF.js)"
Hi! First of all, thanks for the great package.

I've installed the version 2.1.0 via NPM and tried to put the VuePdfApp inside a Bootstrap Modal, so users can read multiple PDF files downloaded from the server.
It was working good until some user report the need to print the hole page that contains the Datatable they use to access the files. They like to make an kind of report with it.

Well, its

[2021-07-05 16:07] EspetoRx commented on #62
Hi!

Any solutions to this?

[2021-07-05 16:14] sandanat commented on #62
Hi, in progress

[2021-07-05 21:43] sandanat commented on #62
@EspetoRx:
1. Yes, you have to use `v-if` directive to make non-pdf pages printable. PDFjs internally creates *printContainer* and css rules for printing content only inside *printContainer*.
2. `<link rel="resource" type="application/l10n" :href="wLocationHost+'/css/pt_br/viewer.properties'">` must be situated inside `head` tag according to HTML specification. You can use relative path `<link rel

[2021-07-05 22:27] EspetoRx commented on #62
Hi!

Since I just needed a PDF Viewer I changed the vue-pdf-app to a HTML 5 object tag...

Thanks for the response and the great package.

Keep the greatness!

[2021-07-06 10:34] eductivegmbh commented on #39
This has greatly helped. Thank you!

[2021-07-06 15:44] EspetoRx commented on #62
I did a CodeSandbox and it worked pretty fine for links on the internet...

https://codesandbox.io/s/bold-darkness-tfbpp?file=/src/main.js

Maybe is the way I download the PDF files from server and create the links... Their link are shown as ['blob']https://.... Maybe is this, cause the way you provided worked pretty well...

[2021-07-07 21:02] EspetoRx commented on #62
I discovered what was causing trouble with my file openings and it wasn't the blob link. Was a SWAL 2 toast... I should do it before open the modal, and not after.

Living and learning. Feel free to use the CodeSandbox showing the package opening in modal on your readme.md.

And once again thanks for the great package. It worked like a brease.

[2021-07-07 21:49] sandanat commented on #62
Thank you very much!

[2021-07-07 22:04] EspetoRx commented on #62
No, its me who have to thank you for the great package. Thank you so much.

[2021-07-08 02:12] EspetoRx commented on #62
Hi! I'm back again. I'm sorry to comment here after closed but it was the localization file...
I didn't realized that it was missing. When i put it back those errors started again. I wasn't able to reproduce it on CodeSandbox. It might be the way I download the files... Anyway... Is there another way I can localize the pdf reader?

[2021-07-08 05:02] sandanat commented on #62
Hi!

It might be but it is unlikely. Remove `pdf` prop for vuePdfApp just to check if it works and exclude a way of file downloading resulting the error.

Move `link` tag with locale inside `head` tag.
Provide your locale file.
Provide source code of parent component for component from your initial example.

You can build your own toolbar using [this example](https://codesandbox.io/embed/vue-2-vue

[2021-07-13 04:32] escully27 opened #63 "Open editing options for the loading progress circles"
**Please describe a feature/problem.**

Have been enjoying this project however the circular progress indicator colors have not changed color no matter what I do.

**Describe the solution you'd like**

I'm not sure if it's using a GIF or what at this point as I've been able to edit the css colors for every other component for the pdf viewer - just not he circular loading indicator.

**Describe alt

[2021-07-13 06:22] ypinchina opened #64 "How can I handle or get DOM object of page in PDF"
I'd like to use it to achieve some work.  How can I handle or get DOM object of page in PDF.
`    <vue-pdf-app style="height: 100vh;" :pdf="pdfSrc" ref='pdfDom'></vue-pdf-app>
    <button @click="getPdfDom">??</button>
    getPdfDom() {
      console.log(this.$refs.pdfDom.$refs)
    }
`

[2021-07-13 07:07] #64 closed, assigned to sandanat

[2021-07-13 22:54] sandanat commented on #63
Hi!
1. Take any progress bar or change color (stroke attribute) of the native vuePdfApp [progress bar](https://github.com/sandanat/vue-pdf-app/blob/master/src/assets/images/loading-icon.svg?short_path=5a145de)
2. Add this css into your project
[code]

[Example](https://codesandbox.io/s/vue-pdf-app-custom-loading-icon-lwywk?file=/src/App.vue)

[2021-07-13 23:17] sandanat commented on #64
Hi, @ypinchina
[code]

[Example](https://codesandbox.io/s/vue-pdf-app-external-pdfj-interaction-g5jeb?file=/src/App.vue:0-688)

[2021-07-14 14:51] dallasbeek opened #65 "Adding Id-Config overrides Config functionality"
:id-config and :config don't play well together.  If I have just :config the buttons are removed from the toolbarRight but when I add :id-config the buttons reappear.

#### Configuration:
- Web browser and it`s version: Chrome
- Operating system and it`s version: Win 10
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem:

[code]

#### What is the expected behavior?
In my example boo

[2021-07-14 15:31] escully27 commented on #63
Thank you so much. Your example works perfect. Appreciate you.

[2021-07-14 15:31] #63 closed, assigned to sandanat

[2021-07-14 19:59] sandanat commented on #65
Hi! Yes, I confirm a bug

[2021-07-14 20:02] dallasbeek opened #66 "Allow pdf app to be hidden"
**Please describe a feature/problem.**
I'm trying to hide the pdf app and add download and print functionality using my own buttons via id-config. I've tried setting the height to 0, display to none, moving it off the page etc... but when I click on my print button I get "Warning: The PDF is not fully loaded for printing."  Is there a trick you are aware of to hide the pdf app and allow it to be p

[2021-07-14 20:24] dallasbeek commented on #66
For the hidden issue I have a hack-around (I feel a little bit dirty doing this but it's acceptable ).  It appears the minimum height to load the document is 6vh.  By hooking into the pages-rendered event I'm able to make it disappear although I do get a slight flash. I'm open to better ideas.

[code]

[2021-07-15 19:33] sandanat commented on #51
@ferretwithaberet, how do you attach pdf file to a package? Is it an array buffer? Your issue may be related to #66

[2021-07-15 19:34] ferretwithaberet commented on #51
It's an URL to a file hosted on an S3 server.

[2021-07-15 19:51] sandanat commented on #66
1) About printing: pdfjs worker needs `#viewerContainer` to be represented in DOM. It renders pages based on offsetHeight and width of the `#viewerContainer`. So pages cant be rendered when vuePdfApp `display: none` and error **Warning: The PDF is not fully loaded for printing.** occurs. You can use this code:
[code]

Note, if you toggle `v-bind:pdf` prop you have to make vuePdfApp `display: initi

[2021-07-16 16:07] dallasbeek commented on #66
thanks, visibility: hidden helped fix the flicker. I have a couple places in my app where I'm using the pdf and one of them is to display the pdf and vue-pdf has a limitation of not displaying multiple pages. Give me a few days to recreate the print preview issue.

[2021-07-16 19:29] dallasbeek commented on #66
Pretty sure my print issue has something to do with the fact I'm rendering it inside a vue bootstrap modal window. When I did a code pen it rendered properly (no modal). I'll come back to this later next week.

[2021-07-20 12:08] StemateF commented on #19
@sandanat I thought it's possible to have two viewers on the same page by generating custom unique ids for each component instance and sending them to this package like this `:id-config="idConfig"`. While I thought this will fix the issue, it did not.

Do think there is a way to achieve this with the current build?

[2021-07-20 12:14] sandanat commented on #19
Hi! `IdConfig`  prop is used to build custom toolbar. Not for two viewers. It is impossible to use two viewers in current build. I will implement it this month

[2021-07-21 11:52] StemateF commented on #19
@sirmadboy I am down to help you implement this if you need another hand on deck :)

[2021-07-21 12:04] sandanat commented on #19
Do it!

[2021-08-03 08:27] w5400013936 opened #67 "can not drag the pdf left and right on the mobile phone"
can not drag the pdf left and right on the mobile phone

[2021-08-04 06:53] #67 closed, assigned to nobody

[2021-08-10 16:19] saltbo opened #68 "Print one page only"
Hello, I'm glad to find your project vue-pdf-app. I've been looking for an out-of-the-box pdf-viewer, and now I'm integrating it into my open source project, zpan.

At present, a printing problem has been found. When you click to print, you can only print one page of content. I don't know where this problem is.

#### Configuration:
- Web browser and it`s version: Chrome 92.0.4515.131
- Operating s

[2021-08-10 16:25] saltbo commented on #68
only for print, download is normal.

[2021-08-12 05:33] w5400013936 opened #69 "prop pageScale doesn't work"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.

#### Configuration:
- Web browser and it`s version:
  app runs on the phone
- Operating system and it`s version:
  android, ios
- vue-pdf-app version:
  2.1.0

#### Steps to rep

[2021-08-20 05:47] gouteru opened #70 ""Warning: Error during font loading: Unable to load binary CMap at: ../web/cmaps/Adobe-Japan1-UCS2.bcmap""
#### Configuration:
- Web browser and it`s version: Chrome 91.0.4472.114
- vue  version: 2.6.14
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem:
I have implemented vue-pdf-app along with the readme.
Some of Japanese fonts is not displayed and the below console message is output.
"Warning: Error during font loading: Unable to load binary CMap at: ../web/cmaps/Adobe-Japan1-UCS2.bcm

[2021-08-28 15:58] synped-dev commented on #19
I think you should add props named group then make it as prefix any event to separate each viewer

[2021-08-30 13:54] zhaoxiaoguan opened #71 "pdflinkservice.navigateto: "null" is not a valid destination array, for dest="/""
as i run the serve,this is come,pdflinkservice.navigateto: "null" is not a valid destination array, for dest="/"

[2021-09-01 20:15] sandanat commented on #71
Where do you run a serve script from?
Is it your project or the current repo master branch?
Which browser and OS versions do you have?

[2021-09-01 20:28] sandanat commented on #68
Hi!
Provide a source code of your component.
Provide a pdf file.

Check this:
- Open dev tools in a separate window
- Print pdf
- Check quantity of elements inside of the `#printContainer` element. It must be equal to the quantity of pages:
![image](https://user-images.githubusercontent.com/49751869/131740361-f1b252c6-a8ac-414c-9137-b40222666362.png)

[2021-09-01 20:31] sandanat commented on #70
Related to https://github.com/mozilla/pdf.js/issues/7696
Which version of Adobe-Japan1-UCS2.bcmap do you have?

[2021-09-01 20:57] sandanat commented on #69
Does it work right on a computer?

[2021-09-02 03:00] gouteru commented on #70
I don' t know the version of bcmap files.
I had not installed bcmap files. I had installed vue-pdf-app only.

Do I need to install other modules like pdfjs-dist separately to get bcmap files installed?
If so, how can I specify the url path of the bcmap files?

[2021-09-02 19:43] sandanat commented on #70
Provide a pdf file please

No

[2021-09-03 10:34] sgebb opened #74 "Disable integrated find / avoid ctrl+f hijack"
I'm not sure this is possible in pdf.js at all, or maybe it's already possible in vue-pdf-app and I just don't know how.

My need is to be transported to/focused on the search result in the pdf. Ideally I want to automatically be zoomed in on the first found-object that matches my criteria, but I can live with having to zoom in manually first and then doing a ctrl+f to be moved to where I want to

[2021-09-04 07:28] gouteru commented on #70
Here's the pdf file.
[sample.pdf](https://github.com/sandanat/vue-pdf-app/files/7109387/sample.pdf)

[2021-09-07 07:33] tree1891 opened #75 "outline invisible"
Pdf has outline, but viewer does not show outline option.
It seems to be hidden by toolbar.
![image](https://user-images.githubusercontent.com/1282201/132309350-4798197b-f598-459d-bc77-28a75f524519.png)

[2021-09-07 08:39] tree1891 opened #76 "Sidebar splitter drag does not work smoothly"
If drag sidebar splitter, mouse point does not match.
The viewer is placed on right panel with left panel.
It seems to suppose that viewer has full screen width.

[2021-09-14 12:03] andorfermichael opened #77 "Bundle Size"
Why is the bundle size that big? Is that necessary?

[2021-09-15 09:22] angelsaber opened #78 "how to remove the history search"
how to remove the history search
![微信图片_20210915172140](https://user-images.githubusercontent.com/16110398/133407183-bb186057-4823-485a-a48f-30481e8ffd7a.png)

[2021-09-18 11:20] Sulaiman-SM opened #79 "showing only one page of pdf file"
**Please describe a feature/problem.**
I have use case where I only want to open one specific page instead of the entire pdf file and not allow the user to change it

**Describe the solution you'd like**
Either to show only one page instead of the entire pdf or to hide the scrollbar and disable scrolling functionality

**Describe alternatives you've considered**
I have tried to hide the scrollbar

[2021-09-21 15:56] reibanaag commented on #46
would like to check if there are any update on its availability for Vue3?

[2021-09-23 03:43] htian88 opened #80 "how to change language?"
how to change the language using your repo?
i just use `window.iframe["PDFViewerApplicationOptions"].set("locale",“en-US”)` with the repo of pdf.js

[2021-09-23 09:45] angelsaber opened #81 "how to Improved clarity"
it is fuzzy on the mobile，how to Improved clarity

[2021-10-01 21:31] bernardomoraisbh commented on #51
I'm also with this bug and I think I can share part of my code.
Also when I show the pdf inside a modal one page override the previous page.
![image](https://user-images.githubusercontent.com/26288503/135688230-9cba3887-275e-4004-9421-073fb817f249.png)

I'm using [vue-js-modal](https://www.npmjs.com/package/vue-js-modal) and [bootstrap vue](https://bootstrap-vue.org/) package:

https://pastebin.co

[2021-10-02 05:38] ferretwithaberet commented on #51
This is because you can only have one `vue-pdf-app` on a page at any given time. You need to unmount the old one before mounting the new one. You can do this with a `v-if` directive.

[2021-10-03 04:04] bernardomoraisbh commented on #51
But I already have only one vue-pdf-app and it's inside the modal. I use the v-if condition with the pdf url (base64).

[2021-10-03 10:07] kdekooter opened #82 "What does "using the embedded JSON directory, early way out" mean?"
The pdf is not loaded. This message is printed to the console. How can we fix this?

[2021-10-04 14:58] ferretwithaberet commented on #51
You mean you have only 1 modal in the code? Or do you have a `v-for` or something? Because a `v-for` generates multiple unique instances of the same component. Try force rerendering the content of the modal(Using a `v-if` for example).

[2021-10-04 16:33] bernardomoraisbh commented on #51
I have the main template with a <b-container fluid /> tag, inside this tag I calll some components one of them is the botton buttons where I can call the vue-pdf-app modal. If I have a PDF url I can show the modal, else the button is disabled.
No v-for involved.

[2021-10-04 21:14] sandanat commented on #82
Hi!
Do you use a custom locale?
Provide an example please.

[2021-10-04 21:28] sandanat commented on #77
Hi!
Yes, this is necessary.
This is because of pdfjs-dist (screenshot is for develop build):
![image](https://user-images.githubusercontent.com/49751869/135927299-dcdb2134-17b0-4189-80be-e13ab5c5566b.png)

[2021-10-04 21:34] sandanat commented on #78
Hi!
Use:
[code]

I'll add this in a future release by default

[2021-10-04 21:44] sandanat commented on #51
To fix pages overriding try to change `box-sizing` css property for `div class="page"`

[2021-10-04 21:51] sandanat commented on #51
@bernardomoraisbh about printing:
1. open devtools in a separate window
2. print pdf
3. find `div#printContainer` in the devtools
4. check if `printContainer` is appended to the body tag
5. attach screenshots with css of img element inside `printContainer` and css of it`s parent container:

![image](https://user-images.githubusercontent.com/49751869/135929734-0c22e905-1b7f-457d-a0ff-39d66745a3d3.p

[2021-10-05 06:25] kdekooter commented on #82
No custom locale.

[code]
The url looks like this: `/api/document-view/d1bd07ce-0541-4ba6-8322-c2c1163b4cfc`

The server is serving this file with the following headers:
[code]
And attached is the PDF I am trying to render.
[Expanding Triads on the Bass PDF.pdf](https://github.com/sandanat/vue-pdf-app/files/7283278/Expanding.Triads.on.the.Bass.PDF.pdf)

[2021-10-06 20:04] sandanat commented on #82
Check if `script type="application/l10n"` exists in DOM.
Is it placed inside `div#vuePdfApp`?
Attach `script`'s inner HTML:
![image](https://user-images.githubusercontent.com/49751869/136275138-5346dfd7-5359-43c4-9c77-4d03e709b98d.png)

[2021-10-07 08:26] kdekooter commented on #82
Yes, it is there:
[code]

[2021-10-07 08:34] kdekooter commented on #82
Thanks for your support @sandanat. The console message seems to be false alarm. I noticed that the `vuePdfApp` container somehow had a width of `0px`.... Some CSS rules fixed that. The PDF is rendered fine now.

Would be nice to get rid of the console message though.

[2021-10-07 08:34] #82 closed, assigned to sandanat

[2021-10-08 10:16] angelsaber commented on #78
I tried it and it worked.thanks

[2021-10-09 12:00] kingyue737 commented on #19
Can this library support two pdfs on the same page now?

[2021-10-13 08:48] kingyue737 opened #83 "Wrong resizing behavior of UI"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.

https://codepen.io/kingyue737/pen/rNzVwKK

#### Configuration:
- Web browser and it`s version: chrome
- Operating system and it`s version:
- vue-pdf-app version: 2.1.0

#### Ste

[2021-10-13 09:08] kingyue737 commented on #71
I've also met this bug. It's triggerd by the hash symbol in the URL.  https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues/71

[2021-10-14 06:46] faisalindrianto commented on #51
Hello, having the same issue here, it works fine on normal viewer, but does not fit the whole page on printing.

vue-pdf-app version 2.1.0 and Chrome version 94.0.4606.81
i'm also using [https://github.com/webzlodimir/vue-bottom-sheet](url) as modal

Preview :
![Screen Shot 2021-10-14 at 13 40 26 (2)](https://user-images.githubusercontent.com/43459369/137265100-8a5da94c-775f-41f6-a6c8-040c17c8a5ed

[2021-11-01 05:59] kingyue737 opened #84 "Toolbar of sidebar is hidden unless pdf is opened from local"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.

#### Configuration:
- Web browser and it`s version: chrome
- Operating system and it`s version:
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem:

see [official

[2021-11-01 06:05] kingyue737 opened #85 "Page size select's icon is hoverable but not clickable"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.

#### Configuration:
- Web browser and it`s version: chrome
- Operating system and it`s version:
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem:

see [official

[2021-11-01 06:31] kingyue737 commented on #84
Even if I make it visible manually, the `viewOutline` button is unclickable and the outline is empty.

[2021-11-01 06:53] kingyue737 commented on #85
workaround:  apply `pointer-events: none;` to this icon

[2021-11-01 08:39] kingyue737 commented on #84
this bug doesn't occur in v2.0.0

[2021-11-03 08:52] ivanamar996 opened #86 "Using vue-pdf-app inside custom web component"
I have used vue-pdf-app library for pdf preview inside my custom component, that I then exported as a web component using vue-cli-service. Inside exported component, the vue-pdf-app component loses its style and also functionality.

This is screenshot how it looks like:

![Screenshot_1](https://user-images.githubusercontent.com/39298540/140031743-0a481571-432f-4715-a82b-a1b7abf16c6e.png)

[2021-11-06 15:31] kingyue737 commented on #80
#37

[2021-11-07 21:49] sandanat commented on #86
Hi, provide an example or a source code, please

[2021-11-07 21:54] sandanat commented on #80
@htian88 , does the solution proposed by @kingyue737 suite you?

[2021-11-07 22:02] sandanat commented on #79
Hi, this can't be done within this package. You can use **vue-pdf** package, this [example](https://www.npmjs.com/package/vue-pdf#user-content-example---current-page--page-count)

[2021-11-07 22:05] #79 closed, assigned to sandanat

[2021-11-07 22:06] #77 closed, assigned to sandanat

[2021-11-09 11:09] jcdevz-dev opened #87 "Empty/Blank print preview"
https://codesandbox.io/s/vue-2-vue-pdf-app-wz5kv?file=/src/views/ToolbarConfiguration.vue

#### Configuration:
- Web browser and it`s version: **Google Chrome Version 95.0.4638.69 (Official Build) (64-bit)**
- Operating system and it`s version: **Linux / Windows 10**
- vue-pdf-app version: **2.1.0**

#### Steps to reproduce the problem: On the Basic tab, click the print icon once and cancel. After

[2021-11-09 15:34] Sulaiman-SM commented on #79
Thanks, great work by the way @sandanat

[2021-11-11 03:54] duchanglong opened #88 "page-number is can't use"
`<VuePdfApp :pdf="pdf" theme="dark" :page-number="5" />`
If me set 'page-number' property.
Pdf loading after, it's also first page.

[2021-11-17 13:46] tofikabdullayev opened #89 "Base64"
**Not able to put Base64 value.**

[2021-11-21 19:36] niharikasah opened #90 "Watermark is not working for password protected files"
I have an issue with watermark which is embedded as an overlay in pdf. Though it renders fine in nomal pdfs but for password protected pdfs , the watermark is lost on opening. Can you please suggest if I can make it work or will it be available in future releases

The watermark on opening password protected pdfs does not show but it works for normal pdfs

[2021-11-25 07:55] ryuya-matsunawa commented on #88
@duchanglong
page-number does not work properly.
But @pages-rendered work.

[code]

[2021-11-25 08:16] ryuya-matsunawa commented on #69
@w5400013936 @sandanat
page-scale does not work properly.
But @pages-rendered work.

[code]

[2021-12-06 12:48] LiThaM commented on #19
Can this library support two pdfs on the same page now?

[2021-12-29 15:34] kdekooter opened #91 "vue-pdf-app crashes the application on Mobile Firefox because of missing `window.print`"
#### Configuration:
- Web browser and it`s version: Firefox Mobile 95.2.0
- Operating system and it`s version: Android 11
- vue-pdf-app version: 2.1.0

#### Steps to reproduce the problem:
Load app containing vue-pdf-app on mobile FF.

#### What is the expected behavior?
The app should not crash

#### What went wrong?
[code]

#### Attachments (screenshots, links, etc)

[2022-01-09 06:52] Rifaldikn opened #92 "Page Always Reload When Clicked"
I have problem with vue-pdf-app, it's always reload/refresh the page when i clicked zoom in/zoom out also it will refresh if i click other toolbar button

Here i meet same issue with this code
https://codesandbox.io/s/bold-darkness-tfbpp?file=/src/components/ModalPDFReader.vue:2993-3004

[2022-01-10 10:40] julienmiclo commented on #46
hello,
do you start support with vue3 ? I have same message `Super expression must either be null or a function`.
Thank you

[2022-01-14 05:34] w5400013936 opened #93 "need a hook when the password dialog is displayed."
**Please describe a feature/problem.**
I added a loading icon on the page when pdfAPP was created , but I can't find a hook to hide the loading icon when the password dialog was displayed.

**Describe the solution you'd like**
need a hook when the password dialog is displayed.
**Describe alternatives you've considered**

**Additional context**

[2022-01-15 17:08] x-dragos commented on #19
Any update on 2 instances? Is it in progress or anything? Trying to determine if i will use this package in a project, but this is a big issue for my requirements

[2022-01-15 18:27] adam-javelin commented on #19
It would be so nice if it could. Wouldnt take that much more work.

[2022-01-17 10:07] mzcurrenda commented on #46
Hello,

Same question: **When do you start support with vue3 ?** I have same message Super expression must either be null or a function.

Thank you

[2022-01-19 12:25] sandanat commented on #19
Hi! Yes, I have just started working on it after a long break. Will be done at the beginning of the next month

[2022-01-19 12:25] sandanat commented on #46
Hi! Will be done at the end of the next month

[2022-01-19 13:27] niharikasah commented on #90
@sandanat any idea or help for this issue , thanks

[2022-01-19 17:22] x-dragos commented on #19
Hello! that is great to hear m8! thanks!

[2022-01-20 12:02] LeoNog96 commented on #87
I have the same problem

[2022-01-20 13:03] DiegoFSFlor commented on #87
@jcdevz-dev did you solve this problem?

Here it is with the same problem

[2022-01-21 18:36] rishwan-tariq opened #94 "Imported as 'VuePdfApp' was not found in 'vue-pdf-app'"
I've installed vue-pdf-app from this [link](https://github.com/sandanat/vue-pdf-app) and version is "vue-pdf-app": "^2.1.0".
I'm using VueJS2.

#### Configuration:
- Chrome:
- Ubuntu 20:
- vue-pdf-app version 2.1.0:

 Install and try to import:

 VuePdfApp should be found in vue-pdf-app

`ERROR in ./app/javascript/components/ArticleDetail.vue?vue&type=script&lang=js& (./node_modules/babel-loader/l

[2022-01-23 17:27] #94 closed, assigned to sandanat

[2022-01-27 14:32] mzcurrenda commented on #46
@sandanat Thanks for your replay. Good news!

[2022-02-08 12:44] victor-ponamariov commented on #91
+1, have the same issue

[2022-02-09 06:55] eye8 commented on #19
Hi @sandanat , any updates on supporting multiple instances? I am using your app in my project and got stuck because of this limitation. I really appreciate it if you can add support to multiple instances.

[2022-02-09 08:32] eye8 commented on #92
A temporary workaround is to stop the button click event propagation. Suppose you installed vue-pdf-app in a div called "vuePdfApp", you can add the following JavaScript code to stop event propagation:

[code]

[2022-02-14 03:57] SMNaik123 opened #95 "Is there any utility function to edit rendered content on PDF"
Is there any utility function available to edit the text content of the PDF document.

Few PDF files have whitespace issue which needs to be rendered correctly. Need a way to programatically update such cases to remove leading and trailing spaces in each line of text layer.
For instance::
On searching :: The Professional acknowledges
<img width="878" alt="image" src="https://user-images.githubuser

[2022-02-17 10:23] ijry opened #96 "can i load pdf file in a lazy way since my file is large"
**Please describe a feature/problem.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-26 13:31] ghost opened #97 "Cannot read properties of undefined (reading 'getAll')"
Hello @sandanat , I have used vue-pdf-app component inside a component and render it only when the initial data is loaded when we navigate to that page. The problem is that when we go back and then open other pdf, the navigation takes to same component but with different pdf file but we get "Cannot read properties of undefined (reading 'getAll')" and "Cannot read properties of undefined (reading '

[2022-03-08 07:57] mzcurrenda commented on #46
@sandanat Hello. How are you? There is some progress for vue3? There is some new branch or project for that? Mayby you need help?

[2022-03-14 23:58] iglimanaj commented on #19
Hi @sandanat one thumb up more here for supporting this feature as soon as possible 😄

[2022-03-16 10:00] tlyau62 opened #98 "Compatibility with bootstrap"
When apply with bootstrap 4.6, there are some mispositions on the viewer, which can also be tested on the demo site.

Thus, I have created a workaround scss for such issue. Not sure if it can be merge to the master.

[code]

[2022-03-24 21:06] BaxAndrei commented on #46
Any news about vue3? Thank You!

[2022-04-23 16:05] jasonfish568 commented on #87
Encountered the same problem, but after checking the demo code, I found that I did not include import in main.js. After adding the code into main.js the print function starts working.

[2022-04-25 02:58] jiahuamld opened #99 "发票显示不全！"
发票显示不全！

[2022-04-26 12:50] childonline opened #100 "using 2 vue-pdf-apps on the same page is impossible"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.
I've added 2 identical vue-pdf-apps in your ThemeToggling example, as you can see the second pdf doesn't load, I suspect this is because of the hardcoded id (vuePdfApp) in pdf-vi

[2022-05-01 08:13] kingyue737 commented on #99
Because the version of pdfjs that vue-pdf-app uses is too old.

Related to #73

[2022-05-21 09:46] LiThaM commented on #19
Hi  @sandanat, now supporting two same pdf?

[2022-06-08 12:16] ciansen opened #101 "Support for vue3"
Is there a way to use the library with vue3?

[2022-06-09 11:05] parmsnapsuite commented on #14
what if the pdf is inside the modal? and my modal is just half of the window size, applying 100vh makes the pdf go beyond the modal height.

[2022-07-04 02:24] w5400013936 opened #102 "Unable to display some Chinese characters"
Please provide a working example with a bug (git repo, [codesandbox](https://codesandbox.io/), source code at least, etc).
It takes a lot of time to set up environment to confirm an issue.
So I will resolve issues faster.

#### Configuration:
- Web browser and it`s version: Google  Chrome 103.0.5060.66
- Operating system and it`s version: Windows 10
- vue-pdf-app version: 2.1.0

#### Steps to repr

[2022-07-04 09:45] sebarswee opened #103 "Anyway to get current page number when page changed?"
**Please describe a feature/problem.**
get the page number when page changed

**Describe the solution you'd like**
emit some page change event when page changed

**Describe alternatives you've considered**

**Additional context**

[2022-07-05 09:38] sebarswee commented on #45
I have the same problem using ArrayBuffer, and if I pass  the pdf path or not using locale resource, everything works fine

[2022-08-09 04:04] reaam opened #104 "Adding Error Event"
Adding Error Event that will be triggered when an error occurs to give the consumer the space and the option on how error we be handled

[2022-08-11 12:22] jandro5 commented on #91
+1

https://caniuse.com/mdn-api_window_print

[2022-08-19 09:05] sebarswee commented on #103
I've figured it out.
[code]
[code]

[2022-08-20 02:39] kuangfeng opened #105 "about "page-scale""
prop "page-scale"  is invalid

<vue-pdf-app
            v-if="showPdf"
            :pdf="url"
            :id-config="idConfig"
            page-scale="50"

[2022-09-11 11:51] mengfanyin commented on #37
Add  `<link rel="resource" type="application/l10n" href="locale" /> `

it still not work.

[code]

[2022-09-14 15:10] lucabecchetti commented on #101
any news?

[2022-09-16 08:40] krishnasism opened #106 "vue-pdf-app just doesn't work with upgraded Vuejs"
Upgraded vuejs to version 2.7.10, and the module just stopped working with this error:
[code]

No change in the implementation of the module, just upgrading vuejs broke the module

Implementation
`<vue-pdf-app style="height: 100vh;" :pdf="pdfdata" :config="config"></vue-pdf-app>`

Where **pdfdata** is ArrayBuffer type.

[2022-09-24 12:47] krishnasism commented on #106
Better to just use iframe than this library 🤦🏻‍♂️

[2022-09-24 12:47] #106 closed, assigned to sandanat

[2022-11-03 19:55] stellR42 commented on #101
I created a Vue 3 version of this package at https://github.com/stellR42/vue3-pdf-app. Feedback/contributions welcome.

[2022-11-03 19:56] stellR42 commented on #46
I'm not sure when @sandanat will finish the Vue 3 migration, so  I created a Vue 3 version of this package at https://github.com/stellR42/vue3-pdf-app. Feedback/contributions welcome.

[2022-11-16 07:29] daniel007enirman opened #107 "icon not loading in nuxt 2"
in nuxt 2 ssr

[2022-11-17 08:46] nisaDoc commented on #70
Hello,

any updates for this issue? I have also the same problem.

[2022-11-29 17:00] adrianoGaspar commented on #87
I have the same problem. I tried including the import in main.js as @txlife suggested, but it didn't work. Has anyone managed to resolve this?